body{
    text-align: center;
    font-family: monospace;
    font-size: x-large;
    background-color: rgb(213, 242, 255);
}

button{
    font-family: monospace;
    font-size: large;
    border-radius: 10px;
    background-color: skyblue;
    width: 5cm;
    height: 1cm;
    transition: transform ease 0.2s;
}
button:hover {
    transform: scale(1.05);
}

img{
    width: 7cm;
    border-radius: 30px;
}

footer {
    font-size: small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    text-align: center;
}